   <!--Footer -->
	<footer id="footer">
		<div class="container">
			<div class="copyright">
				Copyright &copy; 2019-2020 <a class="external" href="https://maxkey.top/">https://maxkey.top/ </a>. All Rights Reserved.
			</div>
			<div class="credits">
				Licensed under the Apache License, Version 2.0 | <a href="https://tongji.baidu.com/web/welcome/ico?s=3190a3a1904a09c48625744a4380bbb5" target="_blank"><img src="https://tongji.baidu.com/sc-web/image/icon/11.gif?__v=1589195045273"/></a>
			</div>
		</div>
	</footer><!-- #footer -->

	<!--右上角图标-->   
	<a href="https://github.com/MaxKeyTop/MaxKey" target="_blank" class="github-corner" style="position:fixed;top:0;right:0;" aria-label="View source on GitHub">
		<svg width="80" height="80" viewBox="0 0 250 250" style="fill:#70B7FD; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
			<path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
			<path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
			<path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
		</svg>
	</a>

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	
	<script  type="text/javascript"  src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script  type="text/javascript"  src="{{ "/js/popper.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script  type="text/javascript"  src="{{ "/js/bootstrap-4.5.0/js/bootstrap.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	
	<script  type="text/javascript"  src="{{ "/js/easing.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script  type="text/javascript"  src="{{ "/js/sticky.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	
	<script  type="text/javascript"  src="{{ "/js/magnific-popup.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script  type="text/javascript"  src="{{ "/js/superfish.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script  type="text/javascript"  src="{{ "/js/wow.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script  type="text/javascript"  src="{{ "/js/owl.carousel.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script  type="text/javascript"  src="{{ "/js/main.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	
	 
	<script src="{{ "/js/highlight-10.1.2/highlight.pack.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	 
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?3190a3a1904a09c48625744a4380bbb5";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		
		currentLang = navigator.language;   //判断除IE外其他浏览器使用语言
		if(!currentLang){//判断IE浏览器使用语言
			currentLang = navigator.browserLanguage;
		}
		
		if(currentLang.substr(0,2).toLowerCase()=="zh"){
			document.getElementById("maxkey_title").innerHTML="MaxKey-业界领先的企业级IAM身份管理和身份认证产品";
		}
	</script>