<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="MaxKey v2.0.0">
	<meta charset="utf-8" />
	<meta name="generator" content="MaxKey v2.0.0" />
	<title id="maxkey_title" name="description">MaxKey is leading-edge Identity and Access Management System-Single Sign On(SSO)</title>

	<link rel="shortcut icon" type="image/x-icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}" title="MaxKey">

	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">
	<link rel="stylesheet" href="{{ "/css/owl.carousel.min.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">

	<link rel="stylesheet" href="{{ "/js/bootstrap-4.5.0/css/bootstrap.min.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">
	<link rel="stylesheet" href="{{ "/js/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">
	<link rel="stylesheet" href="{{ "/js/highlight-10.1.2/styles/default.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">
</head>
