<nav id="nav-menu-container">
	<ul class="nav-menu">
			<li class="menu-has-children"><a href="{{site.baseurl}}/welcome.html"><span class="none"></span>About关于</a>
				<ul class="nav nav-list">
					<li><a href="{{site.baseurl}}/welcome.html"><span class="none"></span>About关于</a></li>
					<li class=""><a href="{{site.baseurl}}/team.html"><span class="none"></span>项目团队</a></li>
					<li class=""><a href="{{site.baseurl}}/licenses.html"><span class="none"></span>项目许可证</a></li>
					<li class=""><a href="{{site.baseurl}}/dependency.html"><span class="none"></span>项目依赖</a></li>
					
					<li class="menu-has-children"><a href="#"><span class="none"></span>项目托管</a>
						<ul class="nav nav-list">
							<li ><a href="https://github.com/MaxKeyTop/MaxKey" class="externalLink" title="GitHub">GitHub</a></li>
							<li ><a href="https://gitee.com/maxkeytop/MaxKey" class="externalLink" title="码云">码云</a></li>
						</ul>
					</li>
					<li><a href="{{site.baseurl}}/download.html" title="Download"><span class="none"></span>Download下载</a></li>
				</ul>
			</li>
			
			<li class="menu-has-children">
				<a href="#"><span class="icon-chevron-down"></span>单点登录</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/ui.html"><span class="none"></span>认证界面</a></li>
					<li class="menu-has-children">
						<a href="#"><span class="icon-chevron-down"></span>登录集成</a>
						<ul class="nav nav-list">
							<li class=""><a href="{{site.baseurl}}/authn/captcha.html"><span class="none"></span>登录验证码</a></li>
							<li class=""><a href="{{site.baseurl}}/authn/mfa.html"><span class="none"></span>双因素认证MFA</a></li>
							<li class=""><a href="{{site.baseurl}}/authn/social.html"><span class="none"></span>社交集成</a></li>
							<li class=""><a href="{{site.baseurl}}/authn/google.html"><span class="none"></span>TOTP/Google Authenticator</a></li>
							<li class=""><a href="{{site.baseurl}}/authn/kerberos.html"><span class="none"></span>Kerberos/SPNEGO/AD</a></li>
							<li class=""><a href="{{site.baseurl}}/authn/ldap.html"><span class="none"></span>LDAP</a></li>
							<li class=""><a href="{{site.baseurl}}/authn/fgpwd.html"><span class="none"></span>忘记密码(Forget Password)</a></li>
						</ul>
					</li>
					<li class="menu-has-children">
						<a href="#"><span class="icon-chevron-down"></span>应用集成</a>
						<ul class="nav nav-list">
							<li class=""><a href="{{site.baseurl}}/sso/oauth2.html"><span class="none"></span>OAuth2</a></li>
							<li class=""><a href="{{site.baseurl}}/sso/jwt.html"><span class="none"></span>JWT</a></li>
							<li class=""><a href="{{site.baseurl}}/sso/oidc.html"><span class="none"></span>OIDC</a></li>
							<li class=""><a href="{{site.baseurl}}/sso/cas.html"><span class="none"></span>CAS</a></li>
							<li class=""><a href="{{site.baseurl}}/sso/tokenbased.html"><span class="none"></span>TokenBased</a></li>
							<li class=""><a href="{{site.baseurl}}/sso/formbased.html"><span class="none"></span>FormBased</a></li>
							<li class=""><a href="{{site.baseurl}}/sso/saml_aly.html"><span class="none"></span>阿里云(SAML)</a></li>
							<li class=""><a href="{{site.baseurl}}/sso/saml_txy.html"><span class="none"></span>腾讯云(SAML)</a></li>
							<li class=""><a href="{{site.baseurl}}/sso/saml_salesforce.html"><span class="none"></span>Salesforce(SAML)</a></li>
						</ul>
					</li>
				</ul>
				
			</li>
			<li class="menu-has-children"><a href="{{site.baseurl}}/im.html"><span class="none"></span>身份管理</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/im.html"><span class="none"></span>身份管理架构</a></li>
					<li class=""><a href="{{site.baseurl}}/ui_mgt.html"><span class="none"></span>管理界面</a></li>
				</ul>
			</li>
			<li class="menu-has-children"><a href="{{site.baseurl}}/welcome.html"><span class="none"></span>配置</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/tutorial.html"><span class="none"></span>快速使用</a></li>
					<li class=""><a href="{{site.baseurl}}/configuration.html"><span class="none"></span>基本配置</a></li>
					<li class=""><a href="{{site.baseurl}}/ha.html"><span class="none"></span>高可用性HA</a></li>
					<li class=""><a href="{{site.baseurl}}/development.html"><span class="none"></span>开发指南</a></li>
				</ul>
			</li>
			
			<li class="menu-has-children">
				<a href="#"><span class="icon-chevron-down"></span>MaxKey学院</a>
				<ul class="nav nav-list">
					<li class=""><a href="{{site.baseurl}}/protocols/sso.html"><span class="none"></span>单点登录概述</a></li>
					<li><a href="{{site.baseurl}}/slo.html" title="Single Logout"><span class="none"></span>单点注销(SLO)</a></li>
					<li><a href="{{site.baseurl}}/glossary.html" title="Glossary"><span class="none"></span>Glossary术语</a></li>
					<li class=""><a href="{{site.baseurl}}/protocols/oauth2.html"><span class="none"></span>OAuth2介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/protocols/jwtintros.html"><span class="none"></span>JWT介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/protocols/saml.html"><span class="none"></span>SAML介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/protocols/openid.html"><span class="none"></span>OIDC介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/protocols/cas.html"><span class="none"></span>CAS介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/protocols/tokenbased.html"><span class="none"></span>TokenBased介绍</a></li>
					<li class=""><a href="{{site.baseurl}}/protocols/formbased.html"><span class="none"></span>FormBased介绍</a></li>
					
					
				 </ul>
			</li>
			
		</ul>
</nav>
<!-- #nav-menu-container 
    <li class="menu-active"><a href="#body">Home</a></li>
-->


