<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="en">
{% include head.html %}
<body   id="body" >
	<div id="preloader"></div>
	
    {% include header.html %}
			
	<main id="main"  >
		<section class="wow fadeInUp">
			<div class="container">
				{{ content }}
			</div>
		</section>
	</main>
	 
  {% include footer.html %}

</body>
</html>
